.interact-control.fill-height.fill-width.as-table.stf-device-control(ng-controller='DeviceControlCtrl')
    .block(style='position: fixed; height: 100%; width: 100%; background-color: white; opacity:0.9; z-index:1;', ng-hide='hideOverlay == true')
      div(style="position: relative; margin:auto; width:50%; top: 35%; z-index:2;")
        h3 Please press the button below to continue: <br>
        .btn-group 
          label.btn-sm.btn-primary(type='button', ng-click='fullScreen();') Continue

    .as-cell.fill-height
    .as-table.fill-height.fill-width
      .stf-vnc-navbar.as-row(ng-show='!$root.basicMode && !$root.standalone')
        .stf-vnc-right-buttons.pull-right
          .btn-group
            
            input(type="checkbox" ng-model="isBadApp")
            label Bad App 
            .button-spacer 
            input(type="checkbox" ng-model="isGreatApp")
            label Great App  
          .button-spacer

          .btn-group
            label.btn-sm.btn-danger(type='button', ng-disabled='waitingForDone', ng-click='done()') Done Exploring
            .button-spacer
            input(type="checkbox" ng-model="discard")
            Session Discard Session 
        .stf-vnc-right-buttons.pull-left
          .btn-group
            .button-spacer
            span.device-name-text {{ phoneName }}
            .button-spacer
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='loginClicked', ng-click='loginPageFoundHandler()') Login Found
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='signupClicked', ng-click='signupPageFoundHandler()') Signup Found
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='signupClicked', ng-click='searchPageFoundHandler()') Search Found
            .button-spacer
            .button-spacer
            p(style="display:inline")
              time 00:00:00
            .button-spacer
            
      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-if='device').fill-height
          div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height
            device-context-menu(device='device', control='control')
              device-screen(device='device', control='control')

      .stf-vnc-bottom.as-row(ng-hide='$root.standalone')
        .controls.cover-menu-buttons
          .btn-group.btn-group-justified
            a(device-control-key='', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-bars
            a(device-control-key='', title='{{"Home"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-home
            a(device-control-key='', title='{{"Back"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-mail-reply
      
            
      .blocking-bar.as-row(ng-show="true")
