.stf-modal#modal(ng-class='{hide: hideModal}')
  .modal-header.dialog-header-errorX
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-info
      .button-spacer
      span(translate) Please press the button below to continue.
  .modal-body
    nothing-to-show(message='{{ message | translate }}', icon='fa-plug fa-4x')

  .modal-footer
    button.btn.btn-primary-outline.pull-right(type='button', ng-click='fullScreen()')
      span(translate) Continue

.interact-control.fill-height.fill-width.as-table.stf-device-control(ng-controller='DeviceControlCtrl')
    .as-cell.fill-height
    .as-table.fill-height.fill-width
      .stf-vnc-navbar.as-row(ng-show='!$root.basicMode && !$root.standalone')
        .stf-vnc-right-buttons.pull-right
          .btn-group
            
            input(type="checkbox" ng-model="isBadApp")
            label Bad App 
            .button-spacer 
            input(type="checkbox" ng-model="isGreatApp")
            label Great App  
          .button-spacer

          .btn-group
            label.btn-sm.btn-danger(type='button', ng-disabled='waitingForDone', ng-click='done()') Done Exploring
            .button-spacer
            input(type="checkbox" ng-model="discard")
            Session Discard Session 
        .stf-vnc-right-buttons.pull-left
          .btn-group
            .button-spacer
            span.device-name-text {{ phoneName }}
            .button-spacer
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='loginClicked', ng-click='loginPageFoundHandler()') Login Found
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='signupClicked', ng-click='signupPageFoundHandler()') Signup Found
            .button-spacer
            label.btn-sm.btn-primary(type='button', ng-disabled='signupClicked', ng-click='searchPageFoundHandler()') Search Found
            .button-spacer
            .button-spacer
            p(style="display:inline")
              time 00:00:00
            .button-spacer
            
      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-if='device').fill-height
          div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height
            device-context-menu(device='device', control='control')
              device-screen(device='device', control='control')

      .stf-vnc-bottom.as-row(ng-hide='$root.standalone')
        .controls.cover-menu-buttons
          .btn-group.btn-group-justified
            a(device-control-key='', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-bars
            a(device-control-key='', title='{{"Home"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-home
            a(device-control-key='', title='{{"Back"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-mail-reply

      .blocking-bar.as-row(ng-show="true")
