.interact-control.fill-height.stf-device-control(ng-controller='DeviceControlCtrl').fill-height.fill-width
  div(ng-controller='DeviceScreenCtrl', ng-if='device').fill-height.fill-width
    div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height.fill-width
      device-context-menu(device='device', control='control')
      div(style = ' background-color: white;width: 103px; position: fixed;height: 50px;float: right;z-index: 100000000;transform: translate(12em,41em);', ng-click = 'done()')
      div(style = ' background-color: red;width: 206px; position: fixed;height: 50px;float: right;z-index: 100000000;transform: translate(12em,41em);', ng-click = 'discardSession()')
        device-screen(device='device', control='control').fill-height.fill-width
